<%= form_for(@proyecto, :html => {:class => "form-horizontal"} ) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="controls">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="controls">
    <%= f.label :descripcion  %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="controls">
    <%= f.label :monto_total %><br />
    <%= f.text_field :monto_total %>
  </div>
  
  <div class="controls">
   <% @fc = DateTime.now %>

    <%=  f.hidden_field :fecha_inicio, :value =>@fc %>
  </div>
  <div class="controls">
    <%= f.label :fecha_limite %><br />
    <%= f.date_select :fecha_limite, start_year: 2013, end_year: 2015 %>
  </div>

 
 

  <div class="field">
   
   
    <%=  f.hidden_field :usuario_id, :value => current_user.id %>
  </div>
  <div class="controls">
    <%= f.submit 'Crear',  :class=>"btn btn-primary" %>
  </div>
<% end %>
