<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @proyecto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @proyecto.descripcion %>
</p>

<p>
  <b>Monto total:</b>
  <%= @proyecto.monto_total %>
</p>

<p>
  <b>Monto actual:</b>
  <%= @proyecto.monto_actual %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @proyecto.fecha_inicio.to_date %>
</p>

<p>
  <b>Fecha limite:</b>
  <%= @proyecto.fecha_limite %>
</p>

<p>
  <b>Fecha cierre:</b>
  <% if @proyecto.fecha_cierre %>
    @proyecto.fecha_cierre.to_date
  <% end %>  

</p>

<p>
  <b>Status:</b>
  <% if @proyecto.status == 1 %>
    <%= p "Activo" %>
   <% else %>
      <%= p "Inactivo" %>
   <% end %> 
</p>




<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> 

