<h1>Proyectos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Monto total</th>
    <th>Monto actual</th>
    <th>Fecha inicio</th>
    <th>Fecha limite</th>
   
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proyectos.each do |proyecto| %>
  <tr>
    <td><%= proyecto.nombre %></td>
    <td><%= proyecto.descripcion %></td>
    <td><%= proyecto.monto_total %></td>
    <td><%= proyecto.monto_actual %></td>
    <td><%= proyecto.fecha_inicio %></td>
    <td><%= proyecto.fecha_limite %></td>
   
    
    <td> <%= link_to 'Donar', {:controller => "userprojects", :action => "new", :proyecto_id => proyecto.id }%></td>

   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proyecto', new_proyecto_path %>


<%= link_to 'New Userproject', new_userproject_path %>
