<h1>Mis proyectos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Monto Total</th>
    <th>Monto Actual</th>
    <th>Fecha Inicio</th>
    <th>Fecha Limite</th>
    <th>Cantidad</th>
   
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @asdf.each do |userproject| %>
     
    <% proy_id =  userproject.proyecto_id %>
       
          <tr>
              
                    <% prj = Userproject.where("usuario_id=? AND proyecto_id=?",userproject.usuario_id,proy_id).sum(:monto)%>
                    <%  proy = Proyecto.find(userproject.proyecto_id) %>
                    <td><%= proy.nombre %></td>
                    <td><%= proy.descripcion %></td>
                    <td><%= proy.monto_total %></td>
                    <td><%= proy.monto_actual %></td>
                    <td><%= proy.fecha_inicio %></td>
                    <td><%= proy.fecha_limite %></td>
                    <td><%= userproject.monto_t %></td>
                
                    <% igual = userproject.proyecto_id %>
                  
               
          
          </tr>
           
<% end %>
</table>

<br />

<%= link_to 'New Proyecto', new_userproject_path %>
