<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>

 
   
    
  
   <div class="field">
    <%= f.label :tipo_usuario %><br />
    <% tipos = {'Donante' => 0, 'Organizacion' => 1}  %>
  
      <% lista = tipos.sort %>
      <%= f.select :tipo_usuario, lista %>  
     
    
   </div> 



    <% @year = Time.now.year
       @month = Time.now.month
       @day = Time.now.day
       
       @current_time =  @year.to_s() + "-" + @month.to_s() +"-" + @day.to_s()
    %>
     <%=  f.hidden_field :fecha_registro, :value =>@current_time  %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
