<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>
<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>
<p>
  <b>Telefono:</b>
  <%= @usuario.telefono %>
</p>
<p>
  <b>Username:</b>
  <%= @usuario.username %>
</p>


<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>
<b>Fecha Registro:</b>
  <%= @usuario.fecha_registro %>
</p>
<b>Tipo Usuario:</b>
  <% if @usuario.tipo_usuario == 0 %>
   <%= p 'Donante' %>
   <% else %>
     <%= p 'Organizacion ' %>
  <% end %>   
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> 

